<mat-sidenav-container class="flex-fill" hasBackdrop="false">

  <mat-sidenav mode="side" disableClose="true" opened>
    <div class="d-flex flex-column">

      <side-bar-button icon="security" label="OAuth" routerLink="/oauth"></side-bar-button>
      <side-bar-button icon="memory" label="Emulator" routerLink="/emulator"></side-bar-button>
      <side-bar-button icon="videogame_asset" label="Twitch" routerLink="/twitch"></side-bar-button>
      <side-bar-button icon="error" label="Commands" routerLink="/commands"></side-bar-button>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>