<div class="container">
  <h1 class="display-4">
    Connect Emulator
  </h1>
  <div>
    <p>
      Select an emulator process to connect to. The only supported emulator is Project 64.
      To enable Net64 features, you must use the Memory Modded version of Project 64.
    </p>
  </div>

  <!-- #region settings -->
  <mat-card class="my-2">
    <mat-card-content>
      <mat-list class="d-flex flex-column">

        <mat-checkbox
          [checked]="settings[SettingsPaths.SKIP_INTRO]"
          (change)="setSettingEnabled(SettingsPaths.SKIP_INTRO, $event.checked)"
        >
          Skip intro
        </mat-checkbox>

        <mat-checkbox
          [checked]="settings[SettingsPaths.INFINITE_LIVES]"
          (change)="setSettingEnabled(SettingsPaths.INFINITE_LIVES, $event.checked)"
        >
          Infinite lives
        </mat-checkbox>

        <mat-checkbox
          [checked]="settings[SettingsPaths.AUTO_PATCH]"
          (change)="setSettingEnabled(SettingsPaths.AUTO_PATCH, $event.checked)"
        >
          Automatically patch emulator on reset
        </mat-checkbox>

        <div class="d-flex align-items-center flex-wrap">
          <mat-checkbox
            [checked]="settings[SettingsPaths.RESTORE_FILE_A]"
            (change)="setSettingEnabled(SettingsPaths.RESTORE_FILE_A, $event.checked)"
          >
            Restore file A flags on reset (via RAM injection)
          </mat-checkbox>

          <div class="ml-auto">
            <button mat-raised-button
              color="accent"
              class="mx-1"
              [disabled]="emulatorState === EmulatorState.NOT_CONNECTED || emulatorState === EmulatorState.CONNECTING"
              (click)="handleRestoreFlags()"
            >
              Restore Now
            </button>
            <button mat-raised-button color="warn" (click)="handleClearSavedFlags()">Clear Saved Flags</button>
          </div>
        </div>

      </mat-list>
    </mat-card-content>
  </mat-card>
  <!-- #endregion settings -->

  <!-- #region emulator list state -->
  <ng-container *ngIf="emulatorListState === EmulatorListState.LOADING">
    <div class="d-flex align-items-center justify-content-center">
      <mat-progress-spinner mode="indeterminate" color="accent" diameter="20"></mat-progress-spinner>
      <span>&nbsp;Scanning emulators</span>
    </div>
  </ng-container>

  <ng-container *ngIf="emulatorListState === EmulatorListState.LOADED">
    <ng-container *ngIf="emulatorList.length > 0; else noEmulators">
      <mat-card>

        <mat-card-title class="d-flex align-items-center justify-content-between">
          <span>Available Emulators</span>
          <button mat-raised-button color="accent" (click)="getEmulatorList()">
            <span>Rescan</span>&nbsp;
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-card-title>

        <mat-card-content>
          <mat-action-list>

            <button mat-raised-button *ngFor="let emulator of emulatorList; let i = index" 
              class="w-100 d-flex justify-content-start rounded-0"
              (click)="setEmulator(emulator)"
            >
              {{i + 1}}. {{ emulator.szExeFile }} | {{ emulator.th32ProcessID }}
            </button>

          </mat-action-list>
        </mat-card-content>

      </mat-card>
    </ng-container>

    <ng-template #noEmulators>
      <div class="d-flex align-items-center justify-content-center flex-column">
        <div>No emulators detected.</div>
        <br>
        <button mat-raised-button color="accent" (click)="getEmulatorList()">
          <span>Rescan</span>&nbsp;
          <mat-icon>refresh</mat-icon>
        </button>
        <br>
        <div><b>Only Project 64 is supported.</b></div>
      </div>
    </ng-template>
  </ng-container>
  <!-- #endregion -->

  <div class="py-1"></div>

  <!-- #region -->
  <ng-container *ngIf="emulatorState === EmulatorState.CONNECTING">
    <div class="d-flex align-items-center justify-content-center">
      <mat-progress-spinner mode="indeterminate" color="accent" diameter="20"></mat-progress-spinner>
      <span>&nbsp;Connecting to the emulator</span>
    </div>
  </ng-container>

  <ng-container *ngIf="emulatorState === EmulatorState.CONNECTED">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <span>Emulator connected</span>
      <br>
      <span><b>You must patch memory on the file select screen.</b></span>
      <br>
      <button mat-raised-button color="accent" (click)="patchEmulator()">Patch Memory</button>
    </div>
  </ng-container>

  <ng-container *ngIf="emulatorState === EmulatorState.PATCHING">
    <div class="d-flex align-items-center justify-content-center">
      <mat-progress-spinner mode="indeterminate" color="accent" diameter="20"></mat-progress-spinner>
      <span>&nbsp;Patching memory</span>
    </div>
  </ng-container>

  <ng-container *ngIf="emulatorState === EmulatorState.PATCHED">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <span>Memory patched successfully.</span>
      <br>
      <span>If the patch is not working, return to file select and patch again.</span>
      <br>
      <button mat-raised-button color="warn" (click)="patchEmulator()">Patch Memory</button>
      <br>
      <span>To receive commands you must open the Twitch websocket.</span>
      <br>
      <a mat-raised-button color="accent" routerLink="/twitch">
        <mat-icon>videogame_asset</mat-icon>&nbsp;
        <span>Twitch</span>
      </a>
    </div>
  </ng-container>
  <!-- #endregion -->
</div>
